body{
    background-image: url(./imagenes/body.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-left:
    font-family: 'Roboto', sans-serif;
    color: white;
}

.header{
  background-color: white;
  width: 100%;
  margin-left: 
  height: 200px;
  color: black;
}

.parrafo{
  padding: 10px;
  padding-top: 19px;
}

.divheader{
  background-color: rgb(51, 116, 201);
    width: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}

.logo1{
    width: auto;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.logo{
  width: 331px;
  height: 114px;
}

.segdiv{
  padding-left: 20px;
}

.menu{
    background-color: rgba(84, 53, 112, 0.582);
    width: auto;
    margin-top: 48px;
}

.menu-list{
    width: auto;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.menu-item a{
    text-decoration: none;
    border: 2px solid rgb(83, 38, 122);
    border-radius: 5px;
    color: white;

}

.section{
    margin-top: 32px;
}


  .padre{
    width: 95%;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .medio{
    width: 560px;
    margin-left: -5%;
  }

  .formulario{
    width: 35%;
    height: 50px;
  }
